.signInWithGoogle{
    margin: 100px;
    width: 100px;
    height: 100px;
    background: white;
    transform: rotate(20deg);
}

.tape{
    width: 45px;
    height: 10px;
    background: #FF9999;
    margin-left: 30px;
}

.btn-google{
    margin-top: 15px;
    /* background: transparent; */
    border: none;
}